.zone-etudiants {
    border-left: 1px solid #000;
    padding-left : 30px;
}

.zone-etudiants h3{
    text-transform: uppercase;
    
}

#specialite-forme{
    background-color:#EFEFEF;
    display:inline-block;
    padding:10px 10px;
    margin-top:0px;
    border-radius:10px;
}

.container-page{
    box-shadow: 0px 5px 5px rgba(220, 220, 220, 1);
    margin-top:40px;
    padding-left:20px;
}

a.btnbis {
    margin-top:20px;
}

a{
    color:#000;
}

.importation {
    background-color:#EFEFEF;
    padding:10px 10px;
    border-radius:10px;
    width:50%;
    text-align: center;
    
}

.menu-formulaire{
    display:flex;
}

.formulaire{
    flex:70%;
    border-left: 1px solid #000;
    padding-left : 30px;
    
}

input.btn-valider {
    background: #975;
    padding: 20px 50px;
    display: block;
    max-width: 200px;
    text-align:center;
    margin-top:20px;
    color: #FFF;
    border: 1px solid #FFF;
    transition: all, .5s;
    font-size:16px;
    height:auto;
}


input.btn-valider:hover {
    color: #975;
    border: 1px solid #975;
    background: #FFF;
    transition: all, .5s;
}

.update-profil {
    display:flex;
}

button.btn {
     background: #975;
    padding: 20px 50px;
    display: block;
    max-width: 200px;
    text-align:center;
    margin-top:20px;
    color: #FFF;
    border: 1px solid #FFF;
    transition: all, .5s;
    font-size:16px;
}

button.btn:hover{
    color: #975;
    border: 1px solid #975;
    background: #FFF;
    transition: all, .5s;
}

.inscription label{
    margin-bottom:10px;
}

.inscription input{
    margin-bottom:10px;
}

input{
    height:20px;
    width:200px;
    margin-left:10px;
}

.select2 {
    margin-bottom:10px;
    margin-left:10px;
}