body, html, main {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

.container-page {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0px;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.cta-header > .container {
    display: flex;
    justify-content: center;
}


.main-header {
    display: flex;
    align-items: center;
}

.main-header > nav.main-nav {
    flex-grow: 1;
    font-size: 1.5em;
}


nav.main-nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media a {
    display: inline-block!important;
    width: 5%;
}

nav.main-nav {
    background: #000;
}

.social-media img {
    max-width: 40px;
}

nav.main-nav > ul > li {
    transition: 1s;
    text-align: center;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
}

nav.main-nav > ul > li.social-media {
    flex: 60%;
}

nav.main-nav > ul a {
    transition: 1s;
    display: block;
    text-decoration: none;
    color: #FFF;
}

nav.main-nav > ul > li:first-child,
nav.main-nav > ul > li:last-child {
    background: #2c2c2c;
    flex: 10%;
    display: flex;
}

nav.main-nav > ul > li:first-child a,
nav.main-nav > ul > li:last-child a{
    margin: auto;
}

nav.main-nav > ul > li:first-child {
    border-right: 2px solid #00cc9c;
}

nav.main-nav > ul > li:last-child {
    border-left: 2px solid #fb0047;
}


.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px black;
    height: 100%;
    background-image: url('../images/background-home.jpg');
    background-position: center;
    background-size: cover;
}

/* Login */

.formulaire-connexion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FFF;
    padding: 2em;
}


/* Carte Etudiant */

section.liste-etudiant {
    display: flex;
}

.etudiant-carte {
    background: #0764;
    padding: 20px;
    margin: 20px 20px;
    flex: 30%;
}

/* Page Attente */

.page-attente {
    padding: 20px;
    text-align: center;
}

.page-attente a {
    display: block;
    max-width: 200px;
    background: #975;
    padding: 20px;
    color: #FFF;
    margin: 20px auto;
    border: 1px solid #FFF;
    transition: all, .5s;
}


.page-attente a:hover {
    color: #975;
    border: 1px solid #975;
    background: #FFF;
    transition: all, .5s;
}


/* Page Etudiant */

a.btn {
    background: #975;
    padding: 20px;
    display: block;
    max-width: 200Px;
    text-align: center;
    margin: 20px auto;
    color: #FFF;
    border: 1px solid #FFF;
    transition: all, .5s;
}

a.btn.mdp {
    background-color: crimson;
    border: 1px solid #FFF;
    transition: all, .5s;
}

a.btn:hover {
    color: #975;
    border: 1px solid #975;
    background: #FFF;
    transition: all, .5s;
}

a.btn.mdp:hover {
    color: crimson;
    background: #fff;
    border: 1px solid crimson;
    transition: all, .5s;
}

a.btnbis{
    margin: initial;
}

img.image-avatar {
    width: 50%;
}

div.zone-etudiants {
    flex:70%
}


/* deuxieme menu */

section.container-page.profil {
    display: flex;
}

.deuxieme-menu {
    padding-right:15px;
    flex: 30%;
    flex-grow: 1;
}

.deuxieme-menu ul li {
    list-style-type: none; 
    padding-bottom:15px;
    text-align:right;
}

.deuxieme-menu ul li a{
    text-transform:uppercase;
    color:black;
}

