<?php

define("DB_HOST", "localhost");
define("DB_NAME", "bdd");
define("DB_USER", "root");
define("DB_PASS", "root");

define("SITE_URL", "http://localhost/monprojet");
define("ADMIN_URL", SITE_URL . "admin/");
